

  #chapter-list .scrollable-area ul {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 5px; /* Remove default padding */
}

#chapter-list .scrollable-area li {
    position: relative; /* Allow absolute positioning of child elements */
    left: 10px;
    margin-bottom: 1em; /* Increase bottom margin */
}

#chapter-list .scrollable-area li::before {
    content: "•"; /* Add a bullet point */
    position: absolute;
    left: 1em; /* Position the bullet point to the left of the list item */
}
/* Show the chapter list by default */
    #chapter-list ul {
      display: block;}

/* Style the Chapter List container */
    #chapter-list {
      margin-bottom: 10px;
      position: relative;
      top: 20px; /* Example: Adjust the top position as needed */
      left: 20px; /* Example: Adjust the left position as needed */}



            #chapter-list .scrollable-area li::before {
                content: '\2022'; /* Adds a custom bullet point */
                margin-right: 0px;
                display: inline-block;
                transition: transform 0.3s ease; /* Animates the bullet point */
            }

            #chapter-list .scrollable-area li:hover::before {
                transform: translateX(-10px); /* Moves the bullet point to the right on hover */
            }

            #chapter-list .scrollable-area li a {
                text-decoration: none; /* Removes underline */
                color: inherit; /* Inherits the color of the surrounding text */
                left: 31px;
                position: relative;
                transition: color 0.3s ease, transform 0.3s ease; /* Animates the change in color and size */
                display: inline-block; /* Needed for transform to work on inline elements like 'a' */
            }

            #chapter-list .scrollable-area li:hover a {
                color: #8B0000; /* Changes the color to dark red on hover */
                transform: scale(1.1); /* Enlarges the text on hover */
            }


@media screen and (max-width: 600px) {
    #chapter-list .scrollable-area li {
        padding-left: 0px;
        margin-left: 0px;
    }
}
