.sidebar {
  float: left;
  width: 9%;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid #ccc;
  padding: 1em;
  background: #f8f8f8;
}
.sidebar h2 {
  text-align: center;
  margin-bottom: 1em;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  text-align: center;
  margin-bottom: 1em;
}
.sidebar a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 0.5em 1em;
  border: 1px solid #333;
  border-radius: 20px;
  transition: background 0.3s ease;
}
.sidebar .active a {
  background: #333;
  color: #fff;
}
.content {
  margin-left: 15%;
  padding: 1em;
}
.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  height: 702px; /* adjust as needed */
  overflow: auto;
}
.book-grid > a {
  flex: 0 8 166px; /* adjust as needed */
  border: 1px solid #ccc;
  border-radius: 10px;
  height: auto; /* the height is set to scale with the width */
  max-height: 120px; /* set a maximum height */
  text-align: center;
  padding: 1em;
  text-decoration: none;
  transition: transform 0.3s ease;
  background-color: #f8f8f8; /* change as needed */
  color: #333; /* change as needed */
}
.book-grid img {
  width: 80px; /* adjust as needed */
  height: 120px; /* adjust as needed */
  object-fit: cover;
  margin: auto; /* center the image */
}
.book-grid h3 {
  margin-top: 0.5em; /* add space above the title */
  font-size: 1em; /* change as needed */
}
.book-grid > a:hover {
  transform: scale(1.05);
  background-color: #eee; /* change as needed */
}