/* ==================================================
   Back To Main List Button
   ================================================== */
.back-to-main-button {
    display: block;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    padding: -6px 4px;
    background-color: #cfcfcf;
    color: black;
    text-align: center;
    -webkit-text-stroke: medium;
    border: 2px black;
    border-style: outset;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.back-to-main-button:hover {
    background-color: #00e8ff; /* Bright Blue Color */
}
.back-to-main-button .fas {
    font-size: 30px; /* Adjust the size */
    color: #000; /* Adjust the color */
}

