/* ==================================================
   Base Styles
   ================================================== */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #c8e24c, #e2002f);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    /* overflow-y: auto; */  /* to allow scrolling if the content is longer than the viewport */
}
body, html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Comic Sans MS', serif;
    line-height: 1.6;
}

